<div class="top-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7 col-md-12">
        <ul class="top-header-information">
          <li>
            <i class="bx bxs-map"></i>
            {{ "Delhi, India" | autoTranslate }}
          </li>
          <li>
            <i class="bx bx-envelope-open"></i>
            <a routerLink="/home">{{ "connect@thecureglobe.com" }}</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-5 col-md-12">
        <ul class="top-header-optional">
          <li>
            <a href="https://www.facebook.com">
              <i class="bx bxl-facebook"></i>
            </a>
            <a href="https://www.twitter.com">
              <i class="bx bxl-twitter"></i>
            </a>
            <a href="https://www.linkedin.com">
              <i class="bx bxl-linkedin"></i>
            </a>
            <a href="https://www.instagram.com">
              <i class="bx bxl-instagram"></i>
            </a>
          </li>
          <li class="languages-list">
            <select [value]="lang" (change)="changeLang($event.target.value)" class="form-select">
              <option *ngFor="let language of allLanguages | keyvalue" [value]="language.key">
                {{ language.value }}
              </option>
            </select>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="middle-header-area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 col-md-12">
        <div class="middle-header">
          <a class="navbar-brand" routerLink="/home">
          <h3>
            <span
              ><img
                src="assets/images/logo.png"
                style="width: 60px; height: 60px; margin-right: 10px"
            /></span>
            <span style="color: #06a3da">{{ "The Cure Globe" }}</span>
          </h3>
          </a>
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <ul class="middle-header-content">
          <li>
            <i class="bx bx-phone-call"></i>
            {{ "Call Today" | autoTranslate }}
            <span>
              <a href="#">{{ "+91 8392923555" | autoTranslate }}</a>
            </span>
          </li>
          <li>
            <i class="bx bx-time-five"></i>
            {{ "Open Hour" | autoTranslate }}
            <span>
              <a href="#">{{ "24/7" | autoTranslate }}</a>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
