<footer class="footer-area pt-100 pb-75">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h2>
                        <a routerLink="/home">The Cure Globe</a>
                    </h2>
                    <p>Cure Globe provides trusted medical treatments and care for patients from around the world. Our team focuses on your health and wellbeing so you can feel your best.
                    </p>
                    <!-- <div class="signature">
                        <img src="assets/images/signature.png">
                    </div> -->
                    <div class="footer-info">
                        <img src="assets/images/footer-1.jpg">
                        <h4>Sakshi Singh</h4>
                        <span>CEO & Founder</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-2 col-sm-6">
                <div class="single-footer-widget ps-5">
                  <h3>Useful Link</h3>
                  <ul class="quick-links">
                    <li>
                        <a routerLink="/about">
                           Home
                        </a>
                    </li>
                    <li>
                        <a routerLink="/services">
                           About Us
                        </a>
                    </li>
                    <li>
                        <a routerLink="/dentict">
                           Hospitals
                        </a>
                    </li>
                    <li>
                        <a routerLink="/blog">
                            Doctors
                        </a>
                    </li>
                    <li>
                        <a routerLink="/home">
                            Free Consultation
                        </a>
                    </li>
                    <li>
                        <a routerLink="/privacy">
                           Gallery
                        </a>
                    </li>
                    <!-- <li>
                        <a routerLink="/services">
                            Pediatrics
                        </a>
                    </li>
                    <li>
                        <a routerLink="/services">
                            Woman's Health
                        </a>
                    </li> -->
                  </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="single-footer-widget ps-5">
                    <h3>Policy</h3>
                    <ul class="quick-links">
                      <li>
                          <a routerLink="/about">
                             Privacy Policy
                          </a>
                      </li>
                      <li>
                          <a routerLink="/services">
                            Editorial Policy
                          </a>
                      </li>
                      <li>
                          <a routerLink="/dentict">
                             Terms of Use
                          </a>
                      </li>
                    </ul>
                  </div>
            </div>
            <!-- <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="single-footer-widget">
                    <h3>News & Blog</h3>
                    <div class="footer-widget-blog">
                        <article class="item">
                            <a routerLink="/blog-details" class="thumb">
                                <span role="img" class="fullimage" style="background-image:url(assets/images/footer-2.jpg);"></span>
                            </a>
                            <div class="info">
                                <span>By 
                                    <a routerLink="/blog">Daisy Gabriela</a>
                                </span>
                                <h4>
                                    <a routerLink="/blog-details">Dental Hygiene for Children</a>
                                </h4>
                            </div>
                        </article>
                        <article class="item">
                            <a routerLink="/blog-details" class="thumb">
                                <span role="img" class="fullimage" style="background-image:url(assets/images/footer-3.jpg);"></span>
                            </a>
                            <div class="info">
                                <span>By 
                                    <a routerLink="/blog">Ronnie Aaron</a>
                                </span>
                                <h4>
                                    <a routerLink="/blog-details">Regular Checkup for Good Teeth</a>
                                </h4>
                            </div>
                        </article>
                        <article class="item">
                            <a routerLink="/blog-details" class="thumb">
                                <span role="img" class="fullimage" style="background-image:url(assets/images/footer-4.jpg);"></span>
                            </a>
                            <div class="info">
                                <span>By 
                                    <a routerLink="/blog">Babatunde Jon</a>
                                </span>
                                <h4>
                                    <a routerLink="/blog-details">Teeth Whitening is Now Popular</a>
                                </h4>
                            </div>
                        </article>
                    </div>
                </div>
            </div> -->
            <div class="col-xl-3 col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Contact Information</h3>
                    <ul class="footer-information">
                        <li>
                            <i class='bx bx-phone-call'></i>
                            Call Today 
                            <span>
                                <a href="#">+91 0000000000</a>
                            </span>
                        </li>
                        <li>
                            <i class='bx bx-time-five'></i>
                            Open Hour 
                            <span>
                                09:00 AM to 18:00 PM
                            </span>
                        </li>
                        <li>
                            <i class='bx bx-map'></i>
                            Our Location 
                            <span>
                                Delhi, India
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="copyright-area">
    <div class="container">
        <div class="copyright-area-content">
            <p>© Copyright 2025 The Cure Globe. All Rights Reserved.
            </p>
        </div>
    </div>
</div>
