<footer class="footer-area pt-100 pb-75">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-sm-6">
        <div class="single-footer-widget">
          <h2>
            <a routerLink="/home">{{ "BRAND_NAME" | t }}</a>
          </h2>
          <p>
            {{ "FOOTER_ABOUT" | t }}
          </p>
          <!-- <div class="signature">
                        <img src="assets/images/signature.png">
                    </div> -->
          <div class="footer-info">
            <img src="assets/images/footer-1.jpg" />
            <h4>{{ "FOOTER_PERSON_NAME" | t }}</h4>
            <span>{{ "FOOTER_PERSON_ROLE" | t }}</span>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-2 col-sm-6">
        <div class="single-footer-widget ps-5">
          <h3>{{ "FOOTER_USEFUL_LINKS" | t }}</h3>
          <ul class="quick-links">
            <li>
              <a routerLink="/about">
                {{ "NAV_HOME" | t }}
              </a>
            </li>
            <li>
              <a routerLink="/services">
                {{ "NAV_ABOUT" | t }}
              </a>
            </li>
            <li>
              <a routerLink="/dentict">
                {{ "FOOTER_HOSPITALS" | t }}
              </a>
            </li>
            <li>
              <a routerLink="/blog">
                {{ "FOOTER_DOCTORS" | t }}
              </a>
            </li>
            <li>
              <a routerLink="/home">
                {{ "BTN_FREE_CONSULTATION" | t }}
              </a>
            </li>
            <li>
              <a routerLink="/privacy">
                {{ "FOOTER_GALLERY" | t }}
              </a>
            </li>
            <!-- <li>
                        <a routerLink="/services">
                            Pediatrics
                        </a>
                    </li>
                    <li>
                        <a routerLink="/services">
                            Woman's Health
                        </a>
                    </li> -->
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="single-footer-widget ps-5">
          <h3>{{ "FOOTER_POLICY" | t }}</h3>
          <ul class="quick-links">
            <li>
              <a routerLink="/about">
                {{ "FOOTER_PRIVACY" | t }}
              </a>
            </li>
            <li>
              <a routerLink="/services">
                {{ "FOOTER_EDITORIAL" | t }}
              </a>
            </li>
            <li>
              <a routerLink="/dentict">
                {{ "FOOTER_TERMS" | t }}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="single-footer-widget">
                    <h3>News & Blog</h3>
                    <div class="footer-widget-blog">
                        <article class="item">
                            <a routerLink="/blog-details" class="thumb">
                                <span role="img" class="fullimage" style="background-image:url(assets/images/footer-2.jpg);"></span>
                            </a>
                            <div class="info">
                                <span>By 
                                    <a routerLink="/blog">Daisy Gabriela</a>
                                </span>
                                <h4>
                                    <a routerLink="/blog-details">Dental Hygiene for Children</a>
                                </h4>
                            </div>
                        </article>
                        <article class="item">
                            <a routerLink="/blog-details" class="thumb">
                                <span role="img" class="fullimage" style="background-image:url(assets/images/footer-3.jpg);"></span>
                            </a>
                            <div class="info">
                                <span>By 
                                    <a routerLink="/blog">Ronnie Aaron</a>
                                </span>
                                <h4>
                                    <a routerLink="/blog-details">Regular Checkup for Good Teeth</a>
                                </h4>
                            </div>
                        </article>
                        <article class="item">
                            <a routerLink="/blog-details" class="thumb">
                                <span role="img" class="fullimage" style="background-image:url(assets/images/footer-4.jpg);"></span>
                            </a>
                            <div class="info">
                                <span>By 
                                    <a routerLink="/blog">Babatunde Jon</a>
                                </span>
                                <h4>
                                    <a routerLink="/blog-details">Teeth Whitening is Now Popular</a>
                                </h4>
                            </div>
                        </article>
                    </div>
                </div>
            </div> -->
      <div class="col-xl-3 col-lg-3 col-sm-6">
        <div class="single-footer-widget">
          <h3>{{ "FOOTER_CONTACT" | t }}</h3>
          <ul class="footer-information">
            <li>
              <i class="bx bx-phone-call"></i>
              {{ "HEADER_CALL_TODAY" | t }}
              <span>
                <a href="#">{{ "HEADER_PHONE" | t }}</a>
              </span>
            </li>
            <li>
              <i class="bx bx-time-five"></i>
              {{ "HEADER_OPEN_HOUR" | t }}
              <span>
                {{ "HEADER_OPEN_TIME" | t }}
              </span>
            </li>
            <li>
              <i class="bx bx-map"></i>
              {{ "FOOTER_LOCATION" | t }}
              <span>
                {{ "HEADER_LOCATION" | t }}
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="copyright-area">
  <div class="container">
    <div class="copyright-area-content">
      <p>© Copyright 2025 The Cure Globe. All Rights Reserved.</p>
    </div>
  </div>
</div>
