<div
  class="page-banner-area ptb-100 four"
  style="background-image: url(assets/images/page-title1.jpg)"
>
  <div class="container">
    <div class="page-banner-content">
      <h2>About Us</h2>
      <div class="pages-list">
        <li>
          <a routerLink="/home">{{ "HOME" | t }}</a>
        </li>
        <li>
          {{ "NAV_ABOUT" | t }}
        </li>
      </div>
    </div>
  </div>
</div>

<div class="pt-100">
  <app-about-part></app-about-part>
</div>

<div class="funfacts-area pt-100 pb-75 bg-color">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-6 col-sm-3">
        <div class="fun-fact">
          <h3>120</h3>
          <p>{{ "ABOUT_HEALTH_SECTIONS" | t }}</p>
          <div class="shape">
            <img src="assets/images/img1.png" />
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-6 col-sm-3">
        <div class="fun-fact">
          <h3>234</h3>
          <p>{{ "ABOUT_PRO_DOCTORS" | t }}</p>
          <div class="shape">
            <img src="assets/images/img2.png" />
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-6 col-sm-3">
        <div class="fun-fact">
          <h3>2234</h3>
          <p>{{ "ABOUT_SATISFIED" | t }}</p>
          <div class="shape">
            <img src="assets/images/img3.png" />
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-6 col-sm-3">
        <div class="fun-fact">
          <h3>100+</h3>
          <p>{{ "ABOUT_PLANS" | t }}</p>
          <div class="shape">
            <img src="assets/images/img4.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="pt-100">
  <app-denticts-part></app-denticts-part>
</div> -->

<div class="pt-100">
  <app-testimonial-part></app-testimonial-part>
</div>
<!-- 
<div class="features-area pt-100 pb-75">
  <div class="container">
    <div class="section-title">
      <span class="sub-title">
        <i class="bx bx-hash"></i>
        {{ "ABOUT_FEATURES" | t }}
      </span>
      <h2>{{ "ABOUT_CLIENTS_PRIORITY" | t }}</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-3 col-sm-6">
        <div class="single-features-box">
          <div class="content">
            <div class="icon">
              <i class="fa-solid fa-staff-snake"></i>
            </div>
            <h3>
              <a routerLink="/service-details">
                {{ "FEAT_QUALITY_BRACKETS" | t }}
              </a>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-features-box">
          <div class="content">
            <div class="icon">
              <i class="bx bxs-file"></i>
            </div>
            <h3>
              <a routerLink="/service-details">
                {{ "FEAT_CERTIFIED_DENTIST" | t }}
              </a>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-features-box">
          <div class="content">
            <div class="icon">
              <i class="fa-regular fa-gem"></i>
            </div>
            <h3>
              <a routerLink="/service-details"> {{ "FEAT_EXPERIENCE" | t }} </a>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-features-box">
          <div class="content">
            <div class="icon">
              <i class="fa-solid fa-bed-pulse"></i>
            </div>
            <h3>
              <a routerLink="/service-details">
                {{ "FEAT_PATIENT_CARE" | t }}
              </a>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<app-call-us></app-call-us>
<div style="height: 100px;">
