<div class="navbar-area">
  <div class="container">
    <nav class="navbar navbar-expand-lg bg-light">
      <a class="navbar-brand" routerLink="/home">
        <!-- <h1>The Cure Globe</h1> -->
        <h3 class="brand">
          <img src="assets/images/logo.png" alt="Logo" class="brand-logo" />
          <span class="brand-text">{{ "BRAND_NAME" | t }}</span>
        </h3>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/home">{{
              "NAV_HOME" | t
            }}</a>
          </li>
          <li>
            <a>{{ userName | titlecase }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">{{ "NAV_ABOUT" | t }}</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ "NAV_OUR_HOSPITALS" | t }}
            </a>
            <ul class="dropdown-menu fade-up">
              <li>
                <a class="dropdown-item" routerLink="/hospitals">
                  All Hospitals
                </a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li *ngFor="let service of services">
                <a class="dropdown-item" [routerLink]="['/hospitals']" [queryParams]="{specialty: service.link}">
                  {{ service.title | mt | async }}
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ "NAV_OUR_DOCTORS" | t }}
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" routerLink="/doctors">
                  All Doctors
                </a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <a class="dropdown-item" [routerLink]="['/doctors']" [queryParams]="{specialty: 'Cardiology'}">{{
                  "SVC_CARDIOLOGY" | t
                }}</a>
              </li>
              <li>
                <a class="dropdown-item" [routerLink]="['/doctors']" [queryParams]="{specialty: 'Orthopedics'}">{{
                  "SVC_SPINE" | t
                }}</a>
              </li>
              <li>
                <a class="dropdown-item" [routerLink]="['/doctors']" [queryParams]="{specialty: 'Kidney Transplant'}">{{
                  "SVC_KIDNEY" | t
                }}</a>
              </li>
              <li>
                <a class="dropdown-item" [routerLink]="['/doctors']" [queryParams]="{specialty: 'Cosmetic'}">{{
                  "SVC_COSMETIC" | t
                }}</a>
              </li>
              <li>
                <a class="dropdown-item" [routerLink]="['/doctors']" [queryParams]="{specialty: 'Neurology'}">{{
                  "SVC_NEURO" | t
                }}</a>
              </li>
              <li>
                <a class="dropdown-item" [routerLink]="['/doctors']" [queryParams]="{specialty: 'Oncology'}">{{
                  "SVC_ONCO" | t
                }}</a>
              </li>
              <li>
                <a class="dropdown-item" [routerLink]="['/doctors']" [queryParams]="{specialty: 'Orthopedics'}">{{
                  "SVC_ORTHO" | t
                }}</a>
              </li>
              <li>
                <a class="dropdown-item" [routerLink]="['/doctors']" [queryParams]="{specialty: 'Hematology'}">{{
                  "SVC_HEMATO" | t
                }}</a>
              </li>
              <li>
                <a class="dropdown-item" [routerLink]="['/doctors']" [queryParams]="{specialty: 'IVF'}">{{
                  "SVC_IVF" | t
                }}</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about"
              >{{ "NAV_KNOWLEDGE" | t }}
            </a>
          </li>
          <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Signup
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" routerLink="/booking">Booking</a></li>
                      <li><a class="dropdown-item" routerLink="/pricing">Pricing</a></li>
                      <li><a class="dropdown-item" routerLink="/testimonials">Testimonials</a></li>
                      <li><a class="dropdown-item" routerLink="/vaccine">Vaccine</a></li>
                      <li><a class="dropdown-item" routerLink="/privacy">Privacy Policy</a></li>
                      <li><a class="dropdown-item" routerLink="/login">Login</a></li>
                      <li><a class="dropdown-item" routerLink="/register">Register</a></li>
                      <li hidden><a class="dropdown-item" routerLink="/notfound">404 Page</a></li>
                    </ul>
                  </li> -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ "NAV_VALUE_ADDED" | t }}
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" routerLink="/blog">{{
                  "NAV_SURGICAL_OUTSOURCING" | t
                }}</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/blog-details">{{
                  "NAV_CLINICAL_FELLOWSHIP" | t
                }}</a>
              </li>
            </ul>
          </li>
          <!-- <li class="nav-item">
                    <a class="nav-link" routerLink="/contact">Contact Us</a>
                  </li> -->
        </ul>
        <div class="others-option d-flex align-items-center">
          <div class="option-item">
            <!-- <div class="search-btn">
                      <i class='bx bx-search'></i>
                    </div> -->
          </div>
          <div class="option-item">
            <a routerLink="/booking" class="default-btn"
              >{{ "BTN_FREE_CONSULTATION" | t }}
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
