<div class="navbar-area">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg bg-light">
      <a class="navbar-brand" routerLink="/home">
        <!-- <h1>The Cure Globe</h1> -->
        <h3 class="brand">
          <img src="assets/images/logo.png" alt="Logo" class="brand-logo" />
          <span class="brand-text">{{ "The Cure Globe" }}</span>
        </h3>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/home">{{
              "Home" | autoTranslate
            }}</a>
          </li>
          <li>
            <a>{{ userName | titlecase }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">{{ "About Us" | autoTranslate }}</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ "Our Hospitals" | autoTranslate }}
            </a>
            <ul class="dropdown-menu fade-up">
              <li>
                <a class="dropdown-item" routerLink="/hospitals">
                  {{ 'All Hospitals' | autoTranslate }}
                </a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li *ngFor="let specialty of hospitalSpecialties">
                <a class="dropdown-item" (click)="goToHospitalsBySpecialty(specialty)">
                  {{ specialty.name | autoTranslate }}
                </a>
                <hr class="dropdown-divider">
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ "Our Doctors" | autoTranslate }}
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" routerLink="/doctors">
                  {{ "All Doctors" | autoTranslate }}
                </a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li *ngFor="let specialty of doctorSpecialties">
                <a class="dropdown-item" (click)="goToDoctorsBySpecialty(specialty)">
                  {{ specialty.title | mt | async }}
                </a>
                <hr class="dropdown-divider">
              </li>
            </ul>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/about"
              >{{ "NAV_KNOWLEDGE" | t }}
            </a>
          </li> -->
          <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Signup
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" routerLink="/booking">Booking</a></li>
                      <li><a class="dropdown-item" routerLink="/pricing">Pricing</a></li>
                      <li><a class="dropdown-item" routerLink="/testimonials">Testimonials</a></li>
                      <li><a class="dropdown-item" routerLink="/vaccine">Vaccine</a></li>
                      <li><a class="dropdown-item" routerLink="/privacy">Privacy Policy</a></li>
                      <li><a class="dropdown-item" routerLink="/login">Login</a></li>
                      <li><a class="dropdown-item" routerLink="/register">Register</a></li>
                      <li hidden><a class="dropdown-item" routerLink="/notfound">404 Page</a></li>
                    </ul>
                  </li> -->
          <!-- <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ "NAV_VALUE_ADDED" | t }}
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" routerLink="/blog">{{
                  "NAV_SURGICAL_OUTSOURCING" | t
                }}</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/blog-details">{{
                  "NAV_CLINICAL_FELLOWSHIP" | t
                }}</a>
              </li>
            </ul>
          </li> -->
          <!-- <li class="nav-item">
                    <a class="nav-link" routerLink="/contact">Contact Us</a>
                  </li> -->
        </ul>
        <div class="others-option d-flex align-items-center">
          <div class="option-item">
            <a routerLink="/booking" class="default-btn text-nowrap"
              >{{ "Free Consultation" | autoTranslate }}
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
