<div class="about-area pb-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7 col-md-12">
        <div class="about-content">
          <span class="sub-title">
            <i class="bx bx-hash"></i>
            {{ "About The Cure Globe" | autoTranslate }}
          </span>
          <h3>
            {{ "Our Clients are Our Priority" | autoTranslate }}
            <!-- <span>Expert Doctors, Seamless Appointments, Quality Care</span> -->
          </h3>
          <p>{{ "We Offer Expert Doctors, Seamless Appointments, Quality Care" | autoTranslate }}</p>
          <div class="row">
            <div class="col-lg-12 col-12">
              <ul class="about-list">
                <li>
                  <i class="bx bx-check"></i>
                  {{ "CureGlobal is an ethical & trusted Team of Doctors with over 25 years of experience." | autoTranslate }}
                </li>
                <li>
                  <i class="bx bx-check"></i>
                  {{ "We are Ethical, Organized, structured & Well-known Surgeon & Clinicians." | autoTranslate }}
                </li>
                <li>
                  <i class="bx bx-check"></i>
                  {{ "Supportive to Provide Guaranteed Results & end-to-end support for international patients" | autoTranslate }}
                </li>
              </ul>
            </div>
            <div class="col-lg-12 col-12">
              <ul class="about-list">
                <li>
                  <i class="bx bx-check"></i>
                  {{ "Offers Valid Medical Advice: Line of Treatment" | autoTranslate }}
                </li>
                <li>
                  <i class="bx bx-check"></i>
                  {{ "Diagnostic Evaluation: Identification of disease from its symptoms & clinical signs" | autoTranslate }}
                </li>
                <li>
                  <i class="bx bx-check"></i>
                  {{ "Therapeutic Evaluation: Assessment of effectiveness of treatment." | autoTranslate }}
                </li>
                <li>
                  <i class="bx bx-check"></i>
                  {{ "Prognostic Evaluation: Predicting the likely course or outcome of disease." | autoTranslate }}
                </li>
                <li>
                  <i class="bx bx-check"></i>
                  {{ "Inpatient & post discharge advice & intervention." | autoTranslate }}
                </li>
                <li>
                  <i class="bx bx-check"></i>
                  {{ "Tele-consultation after discharge & after leaving for your country." | autoTranslate }}
                </li>
              </ul>
            </div>
          </div>
          <!-- <div class="list">
                        <div class="row">
                            <div class="col-6">
                                <div class="about-info">
                                    <i class="fa-solid fa-staff-snake"></i>
                                    <h4>25+ Years</h4>
                                    <span> Dental Experienced </span>
                                </div>
                            </div>
                        </div>
                    </div> -->
        </div>
      </div>
      <div class="col-lg-5 col-md-12">
        <div class="about-image">
          <img src="assets/images/about-1.jpg" />
        </div>
      </div>
    </div>
  </div>
</div>
