<div
  class="page-banner-area ptb-100 four"
  style="background-image: url(assets/images/page-title3.jpg)"
>
  <div class="container">
    <div class="page-banner-content">
      <h2>{{ "HOME_OUR_SERVICES" | t }}</h2>
      <div class="pages-list">
        <li>
          <a routerLink="/home">{{ "HOME" | t }}</a>
        </li>
        <li>
          {{ "HOME_OUR_SERVICES" | t }}
        </li>
      </div>
    </div>
  </div>
</div>

<div class="services-area ptb-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let service of services">
        <div class="single-services">
          <div class="services-image">
            <a [routerLink]="service.link" class="d-block">
              <img [src]="service.image" [alt]="service.title" />
            </a>
          </div>
          <div class="services-content">
            <h3>
              <a [routerLink]="service.link">{{
                service.title | mt | async
              }}</a>
            </h3>
            <p>{{ service.description | mt | async }}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-sm-12 col-md-12">
        <div class="pagination-area">
          <span class="prev page-numbers">
            <i class="bx bx-chevron-left"></i>
          </span>
          <span aria-current="page" class="page-numbers current">1</span>
          <a routerLink="/services" class="page-numbers">2</a>
          <a routerLink="/services" class="page-numbers">3</a>
          <a routerLink="/services" class="page-numbers">4</a>
          <a routerLink="/services" class="next page-numbers">
            <i class="bx bx-chevron-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
