<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <div class="image-cover" style="background-image: url(assets/images/slides-bg1.jpg);">
            <div class="container">
                <div class="main-slider-content">
                   <span class="sub-title">
                    <i class='bx bx-hash'></i>
                    Where Wellness Meets The World
                   </span>
                   <h1>Excellent Medical Treatment
                   <!-- <span>Care</span> -->
                   </h1>
                   <p>
                    Connect with experienced specialists who listen, guide, and provide solutions tailored to your needs. 
                    Whether you are seeking medical advice, a second opinion, or personalized health recommendations, 
                    our team ensures clarity, transparency, and care every step of the way.
                   <div class="slider-btn">
                    <a class="default-btn" href="#"> Book Appointment </a>
                    <!-- <div class="checkup-content">
                        <div class="icon">
                            <i class='bx bx-handicap'></i>
                        </div>
                        
                        <span>
                            <a href="#"> Get Free Checkup </a>
                        </span>
                    </div> -->
                   </div>
                </div>
            </div>
        </div>
    </ng-template>  
    <ng-template carouselSlide>
        <div class="image-cover" style="background-image: url(assets/images/slides-bg2.jpg);">
        <div class="container">
            <div class="main-slider-content">
               <span class="sub-title">
                <i class='bx bx-hash'></i>
                Where Wellness Meets The World
               </span>
               <h1>Affordability & Transparency 
               <!-- <span>Woman</span> -->
               </h1>
               <p>
                Our consultation services are built on the values of affordability and transparency. 
                We ensure clear guidance, honest recommendations, and cost-effective solutions so you 
                can make informed decisions with complete confidence.
             </p>
             
               <div class="slider-btn">
                <a class="default-btn" href="#"> Book Appointment </a>
                <!-- <div class="checkup-content">
                    <div class="icon">
                        <i class='bx bx-handicap'></i>
                    </div>
                    
                    <span>
                        <a href="#"> Get Free Checkup </a>
                    </span>
                </div> -->
               </div>
            </div>
        </div>
        </div>
   </ng-template>  
    <ng-template carouselSlide>
        <div class="image-cover" style="background-image: url(assets/images/slides-bg3.jpg);">
            <div class="container">
                <div class="main-slider-content">
                   <span class="sub-title">
                    <i class='bx bx-hash'></i>
                    Where Wellness Meets The World
                   </span>
                   <h1>Your Health is Our Top 
                   <span>Priority</span>
                   </h1>
                   <p>
                    Your well-being comes first. Our consultation services are designed to provide 
                    expert guidance, personalized care, and trusted support—ensuring you receive the 
                    right advice and treatment at the right time, with complete peace of mind.
                 </p>
                 
                   <div class="slider-btn">
                    <a class="default-btn" href="#"> Book Appointment </a>
                    <!-- <div class="checkup-content">
                        <div class="icon">
                            <i class='bx bx-handicap'></i>
                        </div>
                        
                        <span>
                            <a href="#"> Get Free Checkup </a>
                        </span>
                    </div> -->
                   </div>
                </div>
            </div>
        </div>
    </ng-template>  
  </owl-carousel-o>
