<div class="page-banner-area ptb-100 four" style="background-image: url(assets/images/page-title3.jpg);">
    <div class="container">
        <div class="page-banner-content">
            <h2>{{ "Testimonials" | autoTranslate }}</h2>
            <div class="pages-list">
                <li>
                    <a routerLink="/home">{{ "Home" | autoTranslate }}</a>
                </li>
                <li>
                    {{ "Testimonials" | autoTranslate }}
                </li>
            </div>
        </div>
    </div>
</div>

<div class="review-area pt-100 pb-75">
    <div class="container">
        <!-- Loading State -->
        <div *ngIf="isLoading" class="loading-container text-center">
            <div class="loading-spinner">
                <i class="fa fa-spinner fa-spin fa-2x"></i>
                <p>{{ "Loading testimonials..." | autoTranslate }}</p>
            </div>
        </div>

        <!-- Dynamic Testimonials Grid -->
        <div *ngIf="!isLoading && testimonials.length > 0" class="row">
            <div class="col-lg-4 col-md-6" *ngFor="let testimonial of testimonials">
                <div class="single-review-item">
                    <div class="icon">
                        <i class="fa-solid fa-quote-left"></i>
                    </div>
                    <p>{{ testimonial.review | autoTranslate }}</p>
                    <div class="review-info">
                        <img [src]="testimonial.image" [alt]="testimonial.name">
                        <h3>{{ testimonial.name | autoTranslate }}</h3>
                        <span>{{ testimonial.specialty | autoTranslate }}</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- No Testimonials Message -->
        <div *ngIf="!isLoading && testimonials.length === 0" class="no-testimonials text-center">
            <div class="alert alert-info">
                <i class="fa fa-info-circle"></i>
                <p>{{ "No testimonials available at the moment." | autoTranslate }}</p>
            </div>
        </div>
    </div>
</div>
